<div class="container">
    <div class="block">
        <div class="imgBlock">
            <img src="assets/images/cenzor.jpg" alt="">
            <div class="taskTitle">Angular list of prohibited words:</div>
            <p class="someText">Angular list of prohibited words:</p>
        </div>
        <button class="details" [routerLink]="[ '/works/cenzor' ]">details</button>
    </div>
    <div class="block">
        <div class="imgBlock">
            <img src="assets/images/userlist.jpg" alt="">
            <div class="taskTitle">Angular list of prohibited words:</div>
            <p class="someText">Angular list of prohibited words:</p>
        </div>
        <button class="details" [routerLink]="[ '/works/userslist' ]">details</button>
    </div>
    <div class="block">
        <div class="imgBlock">
            <img src="assets/images/tasklist.jpg" alt="">
            <div class="taskTitle">Angular list of prohibited words:</div>
            <p class="someText">Angular list of prohibited words:</p>
        </div>
        <button class="details" [routerLink]="[ '/works/tasklist' ]">details</button>
    </div>
</div>